# Carregando a base de dados

In [1]:
# importando bibliotecas necessarias
import pandas as pd

Carregar base de dados usando ';' como separador e indicando que a coluna 'Data' é uma data

In [4]:
# lendo a base de dados e indicando que a coluna 'Data' é uma data
dados_terremotos = pd.read_csv('../data/terremotos.csv', sep=';', parse_dates=['Data'])

dados_terremotos.shape

(50000, 6)

In [5]:
# visualizando as primeiras linhas para checar que deu certo
dados_terremotos.head()

   Num       Data         Hora  Profundidade(km)  Magnitude Tipo
0    1 2023-07-31  21:53:38.29               4.0        3.5   Ke
1    2 2023-07-31  15:23:16.85               5.2        3.5   Ke
2    3 2023-07-31  02:50:49.84               6.2        3.0   Ke
3    4 2023-07-30  20:19:40.49               5.3        3.1   Ke
4    5 2023-07-30  16:13:52.62               2.4        3.0   Ke

In [6]:
# ver os tipos de cada coluna
dados_terremotos.dtypes

Num                          int64
Data                datetime64[ns]
Hora                        object
Profundidade(km)           float64
Magnitude                  float64
Tipo                        object
dtype: object

In [7]:
# ver quantidade de dados nulos em cada coluna
dados_terremotos.isnull().sum()

Num                 0
Data                0
Hora                0
Profundidade(km)    0
Magnitude           0
Tipo                0
dtype: int64