## Roteiro
- Carregar base de dados [x]
- Contar a quantidade de dados de teste [x]
- Selecionar as colunas relevantes [x]
- Tratar os dados ausentes e de teste [ ]
- Transformar os dados (data) [ ]
- Ver quais bairros tem mais atendimentos concluídos [ ]
- Ver a quantidade de chamados por época do ano [ ]

In [41]:
import pandas as pd
chamados = pd.read_csv("ChamadosSedec.csv", sep=";", parse_dates=['solicitacao_data'], dayfirst=True)

In [35]:
# Contar linhas que tenham descricao de teste
testes_pela_descricao = chamados.query('solicitacao_descricao == "teste" or solicitacao_descricao == "TESTE" or solicitacao_descricao == "texte"').shape[0]
# Contar linhas que tenham roteiro de teste
testes_pelo_roteiro = chamados.query('solicitacao_roteiro == "TESTE." or solicitacao_roteiro == "aaaa"').shape[0]

total_testes = testes_pelo_roteiro + testes_pela_descricao

In [ ]:
# Retirar colunas nao relevantes
chamados = chamados.drop(columns=['ano', 'mes', 'processo_numero', 'solicitacao_descricao', 'solicitacao_regional', 'solicitacao_localidade', 'solicitacao_endereco', 'solicitacao_roteiro', 'rpa_nome', 'solicitacao_microrregiao', 'solicitacao_plantao', 'processo_origem'])

In [47]:
chamados.head()

,solicitacao_data,solicitacao_hora,solicitacao_bairro,rpa_codigo,processo_situacao,processo_tipo,processo_solicitacao
0,2023-02-07,15:07,AFLITOS,3,execucao,ATENDIMENTO,Vistoria
1,2023-01-24,06:27,AFLITOS,3,execucao,ATENDIMENTO,Vistoria
2,2022-08-30,12:19,AFLITOS,3,NaN,MONITORAMENTO,Vistoria
3,2022-03-06,20:41,AFLITOS,3,execucao,ATENDIMENTO,Vistoria
4,2022-01-31,16:03,AFLITOS,3,execucao,ATENDIMENTO,Vistoria